<a href="https://colab.research.google.com/github/bundickm/CheatSheets/blob/master/Data_Cleaning_and_Exploring_Cheat_Sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#basic importing and aliasing
import numpy as np
import pandas as pd

In [0]:
#prevent dataframe truncation by adjusting pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#Reading in Data

In [0]:
#read in csv
df = pd.read_csv('some_url_or_filepath.csv')
print(df.head())

#read in json
#json load tutorial: https://chrisalbon.com/python/data_wrangling/load_json_file_into_pandas/
df = pd.read_json('some_url_or_filepath.json')
print(df.head())

#read in tsv
df = pd.read_csv('some_url_or_filepath.tsv', delimiter='\t', encoding='utf-8')
print(df.head())

In [0]:
#uploading a file
from google.colab import files
upload = files.upload()

In [0]:
#renaming headers during upload
url = 'some_url_or_filepath.csv'
df = pd.read_csv(url,names=['column1', 'column2', 'column3'])

#Data Cleaning

In [0]:
#rename columns after reading in
df = pd.read_csv(df, header=None)
feature_map = {0: 'column1',
               1: 'column2',
               2: 'column3'}

df.rename(columns=feature_map, inplace=True)

In [0]:
#replacing values in a data set with a new value
df = df.replace('?', np.NaN)

In [0]:
#setting categories to type 'category' for faster operations
df['column1'] = df['column1'].astype('category')

In [0]:
#label encoding
df['column1'] = df['column1'].cat.codes

In [0]:
#one hot encoding
df = pd.get_dummies(df, columns=['column1'], prefix = ['column1'])
df.head()

In [0]:
!pip install category_encoders as ce
#binary encoding
encoder = ce.BinaryEncoder(cols=['column1'])
df = encoder.fit_transform(df)

In [0]:
#filling null values
df.fillna(0) #fill nulls with a value
df.fillna(method='ffill') #fill based on a method chosen from  {‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}
df.fillna(value={'A': 0, 'B': 1, 'C': 2, 'D': 3}) #fill each feature with a different value
df.fillna(value=values, limit=1) #fill a set number of nulls

In [0]:
#dropping null values
df.dropna() #drop rows
df.dropna(axis='columns') #drop columns
df.dropna(axis='rows', thresh=3) # drop rows with fewer non-nulls than the threshhold

In [0]:
#add a column
df['new feature'] = 'Value' #new column with same value for all rows
df['new feature'] = df2['df2 feature'] #new column from another dataframe column

In [0]:
#drop a column or row
df.drop('column1', axis='columns')

In [0]:
#combine two data frames
df3 = df1.append(df2)

In [0]:
#use np.where to encode a category based on values in another category
df['column1'] = np.where(df['column2'].str.contains('value'), 1, 0)

In [0]:
#loop to impute values based on whether they are numeric or categorical
from pandas.api.types import is_numeric_dtype

for column in df:
  if is_numeric_dtype(df[column]):
    #do something with the numeric features here
  else:
    #do something with the categorical features here

In [0]:
#Cast a column to datetime
df['column1'] = pd.to_datetime(df['column1'])

In [0]:
#typecasting a column
df['column1'] = df['column1'].astype(int)

In [0]:
#drop a row or column
df = df.drop(['column1','column2'], axis='columns')

In [0]:
#set a column as the index
df = df.set_index('column1')

#Exploring Data

In [0]:
#show the first X rows in the dataframe, no value defaults to 5
df.head(1)

In [0]:
#show the last X rows in the dataframe, no value defaults to 5
df.tail(1)

In [0]:
#summary of the dataframe
df.info()

In [0]:
#get basic stats on any numeric features
df.describe()

In [0]:
#dimensions of the dataframe
df.shape

In [0]:
#what are the data types of the different features
df.dtypes

In [0]:
#return a list of the index values
df.index

In [0]:
#how many items in each feature of a dataframe
df.count()

In [0]:
#count how many of each item in a feature
df['column1'].value_counts()

In [0]:
#count how many unique values in a category
df['column1'].value_counts().count()
df['column1'].nunique()

In [0]:
#Return a list of all unique values in the series
df['column1'].unique()

In [0]:
#how many null or non-null values are there and what features are they in
df.isnull().sum()
df.notnull().sum()

In [0]:
#Access columns or rows by their label
df.loc['column_or_index_name']

In [0]:
#Access columns or rows by their integer position
df.iloc[5]

In [0]:
#Access a single value from a row/column pair
df.at[2, 'column3']

In [0]:
#map values in a series according to a dictionary
df['column1'].map({'value1':'value11','value2':'value22'})

In [0]:
#Return boolean vector of rows that are between the 2 values
df['column1'].between(1, 5, inclusive=True)

In [0]:
#Return boolean vector of rows that are greater than series or scalar
df['column1'].gt(5)
df['column1'].gt(df['column2'])

In [0]:
#Return boolean vector of rows that are less than series or scalar
df['column1'].lt(5)
df['column1'].lt(df['column2'])

In [0]:
#return only the values, index and column labels are dropped
df.to_numpy()

In [0]:
#Apply a function to an axis of the data frame
df.apply(np.sum, axis='index')

In [0]:
#Transpose the dataframe (columns become index, index becomes columns)
df.T

In [0]:
#addittional useful pandas calls
df.groupby() #https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
df.interpolate() #https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html

In [0]:
#binning with pd.cut
bins = pd.cut(df['column1'], 5) #create 5 bins

In [0]:
#crosstab for quick small tables (will not run, just example)
pd.crosstab(bin_or_feature, bin_or_feature, normalize='columns')

In [0]:
#pivot table
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
table = pd.pivot_table(df, values=['column1'],
                       index=['column2'],columns=['column3']) 

table = pd.pivot_table(df, values=['column1'],
                       index=['column2'],columns=['column3'], aggfunc=np.sum)